.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-primary);
  padding: 5rem 10%;
  color: var(--text-primary);
}

.text {
  flex: 1;
}

.text h1 {
  font-size: 2.8rem;
  font-weight: var(--font-bold);
  color: var(--white-99);
}

.text p {
  color: var(--text-secondary);
  margin-top: 1rem;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.learnBtn {
  background: transparent;
  border: 1px solid var(--brand-primary);
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius-md);
  color: var(--brand-primary);
  font-weight: var(--font-medium);
  transition: background 0.3s;
}

.learnBtn:hover {
  background: var(--brand-primary);
  color: white;
}

.browseBtn {
  background: var(--brand-primary);
  border-radius: var(--radius-md);
  padding: 0.75rem 1.5rem;
  font-weight: var(--font-medium);
  color: white;
  transition: background 0.3s;
}

.browseBtn:hover {
  background: var(--brand-secondary);
}

.stats {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

.statsItem {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
  flex: 1 0 0;
  border-radius: 0.75rem;
  border: 1px solid var(--gray-15);
  background: var(--gray-10);
}

.stats h3 {
  color: var(--white-99);
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
}

.imageWrapper {
  flex: 1;
  text-align: right;
}